<div class="wrap-center">
  <h1>ログイン</h1>
  <% if flash[:alert] %>
    <div class="flash-alert">
      <%= flash[:alert]%>
    </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice]%>
  </div>
<% end %>
  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    <div class="input-area">
      <p><label class="label">Email</label></p>
      <%= f.email_field :email, class: "field-1"%>
    </div>
    <div class="input-area">
      <p><label class="label">パスワード</label></p>
      <%= f.password_field :password, class: "field-1"%>
    </div>
    <div class="button-area">
      <%= f.submit "ログイン", class: "button"%>
    </div>
    <% end %>
</div>
