<div class="wrap-center">
  <h1>Log in</h1>
  <% if flash[:alert] %>
    <div class="flash-alert">
      <%= flash[:alert]%>
    </div>
  <% end %>
  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    <div class="input-area">
      <p><%= f.label :email, class: "label"%></p>
      <%= f.email_field :email, class: "field-1"%>
    </div>
    <div class="input-area">
      <p><%= f.label :password, class: "label"%></p>
      <%= f.password_field :password, class: "field-1"%>
    </div>
    <div class="button-area">
      <%= f.submit "Log in", class: "button"%>
    </div>
    <% end %>
</div>
