<div>
	<div>
		<% @search_result.each{ |company| %>
			<div class="search-result-company">
				<p>施設写真</p>
				<% if company.portraits.attached? %>
					<div class="slider">
						<div class="slideSet">
							<% company.portraits.each do |portrait| %>
								<%= image_tag portrait.variant(resize_to_limit: [400, 400]), class: "slide"%>
							<% end %>
						</div>
					</div>
					<button class="slider-prev">前へ</button>
					<button class="slider-next">次へ</button>
				<% end %>
				<p>施設名</p>
				<%= company.name %>
				<p>アクセス</p>
				<%= company.access %>
				<% company.plans.each{ |plan| %>
					<p>プラン名</p>
					<%= plan.name %>
					<p>値段</p>
					<%= plan.price %>
					<p>
					<p><%= link_to "詳細", plan_path(plan.id) ,class: "edit-button" %></p>
				<% } %>
			</div>
		<% } %>
	</div>
</div>