<% @search_result.each{ |company| %>
	<div class="search-result-company">
		<p><%= company.name %></p>
		<% if company.portrait.attached? %>
			<%= image_tag company.portrait.variant(resize_to_limit: [300, 300]) %>
		<% end %>
		<div class="company-info">
			<p>アクセス：<%= company.access %></p>
			<p><%= company.info %></p>
		</div>
		<p>予約できる宿泊プラン</p>
		<% company.plans.each{ |plan| %>
			<%= plan.name %>
			<p>値段：<%= plan.price %></p>
			<p>部屋タイプ：<%= @room_type.find(plan.room_type).name %></p>
			<p><%= link_to "プランの詳細を見る", plan_path(plan.id) ,class: "edit-button" %></p>
		<% } %>
	</div>
<% } %>
