<div>
	<h3>検索条件</h3>
	<div class="search-conditions">
		<div class="info">
			<div class="prefecture">
				<p>都道府県</p>
				<%= Prefecture.find(@prefecture_id).name %>
			</div>
			<div class="checkinout">
				<p>チェックイン日</p>
				<%= session[:checkin] %>
			</div>
			<div class="checkinout">
				<p>チェックアウト日</p>
				<%= session[:checkout] %>
			</div>
			<div class="people">
				<p>人数</p>
				<%= session[:people] %>
			</div>
		</div>
		<div class="features">
			<% if !@sfw.nil? %>
				<div class="feature-w">
					<% @work_features.each do |wf| %>
						<% if @sfw.include?(wf.id.to_s) %>
							<span class="wf"><%= wf.name %></span>
						<% end %>
					<% end %>
				</div>
			<% end %>
			<% if !@sfv.nil? %>
				<div class="feature-v">
					<% @vacation_features.each do |vf| %>
						<% if @sfv.include?(vf.id.to_s) %>
						<span class="vf"><%= vf.name %></span>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div>
		<%= render 'plans_search_result' %>
	</div>
</div>