<div>
	<h1>アカウント情報</h1>
  <%= form_with(model: @user, local: true) do |f| %>
		<% if @user.errors.any? %>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
		</ul>
		<% end %>
		<div class="input-area">
			<p><%= f.label :name, class: "label" %></p>
			<%= f.text_field :name, class: "field-1" %>
		</div>
		<div class="input-area">
			<p><%= f.label :email, class: "label" %></p>
			<%= f.email_field :email, class: "field-1" %>
		</div>
		<div class="input-area">
			<p><%= f.label :password, class: "label" %></p>
			<%= f.password_field :password, class: "field-1" %>
		</div>
		<div class="input-area">
			<p><%= f.label :password_confirmation, "Confirmation", class: "label" %></p>
			<%= f.password_field :password_confirmation, class: "field-1" %>
		</div>
		<div class="button-area">
			<%= f.submit "更新", class: "edit-button" %>
		</div>
  <% end %>
	<div class="button-area">
		<div><%= button_to "アカウントを削除する", user_path(@user.id), method: :delete, data: { confirm: 'アカウントを削除してよろしいですか？'}, class: "delete-button" %></div>
	</div>
</div>