<div class="wrap-center">
<h1>Account</h1>
  <%= form_with(model: @user, local: true) do |f| %>
		<% if @user.errors.any? %>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
		</ul>
		<% end %>
		<div class="field">
			<p><%= f.label :name, class: 'name-label' %></p>
			<%= f.text_field :name, class: 'name-field' %>
		</div>
		<div class="field">
			<p><%= f.label :email, class: 'email-label' %></p>
			<%= f.email_field :email, class: 'email-field' %>
		</div>
		<div class="field">
			<p><%= f.label :password, class: 'password-label' %></p>
			<%= f.password_field :password, class: 'password-field' %>
		</div>
		<div class="field">
			<p><%= f.label :password_confirmation, "Confirmation", class: 'password-confirmation-label' %></p>
			<%= f.password_field :password_confirmation, class: 'password-confirmation-field' %>
		</div>
		<div class="field">
			<%= f.submit "Change", class: 'change-field' %>
		</div>
  <% end %>
	<div class="field">
		<div><%= button_to "Delete", user_path(@user.id), method: :delete, class: 'delete-field' %></div>
	</div>
</div>