<div class="wrap-center">
	<h1>Sign up</h1>
  <%= form_with(model: @user, local: true) do |f| %>
		<div class="input-area">
			<p><%= f.label :name, class: "label"%></p>
			<%= f.text_field :name, class: "field-1"%>
		</div>
		<div class="input-area">
			<p><%= f.label :email, class: "label"%></p>
			<%= f.email_field :email, class: "field-1"%>
		</div>
		<div class="input-area">
			<p><%= f.label :password, class: "label"%></p>
			<%= f.password_field :password, class: "field-1"%>
		</div>
		<div class="input-area">
			<p><%= f.label :password_confirmation, class: "label"%></p>
			<%= f.password_field :password_confirmation, class: "field-1"%>
		</div>
		<div class="button-area">
			<%= f.submit "Sign up", class: "button"%>
		</div>
  <% end %>
</div>