<div class="wrap-left">
	<%= form_with url:search_result_path, model: @search, method: :get, local: true do |f| %>
		<h2>気になるキーワードを選択し、お得なプランを見つけよう！</h2>
		<div class="input-area">
			<p class="label">目的地</p>
			<%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank:"選択"}, class:"field-1" %>
		</div>

		<div class="input-area">
			<p class="label">チェックイン</p>
			<%= f.date_field :checkin, value: f.object.checkin, class: "field-1" %>
		</div>

		<div class="input-area">
			<p class="label">チェックアウト</p>
			<%= f.date_field :checkout, value: f.object.checkout, class: "field-1" %>
		</div>

		<div class="input-area">
			<p class="label">人数</p>
			<%= f.select :people, {'1':1,'2':2,'3':3,'4':4,'5':5}, {}, class: "field-1" %>
		</div>

		<div class="input-area">
			<div>働くのキーワード</div>
			<div class="work_features">
				<% @work_features.each do |wf| %>
					<%= f.check_box :work_features, {multiple: true}, wf.id, nil  %>
					<%= label_tag "search_work_features_" + wf.id.to_s ,wf.name %>
				<% end %>
			</div>
		</div>

		<div class="input-area">
			<div style="clear:left;">遊びのキーワード</div>
			<div class="vacation_features">
				<% @vacation_features.each do |vf| %>
					<%= f.check_box :vacation_features, {multiple: true}, vf.id, nil  %>
					<%= label_tag "search_vacation_features_" + vf.id.to_s ,vf.name %>
				<% end %>
			</div>
		</div>
		
		<div class="button-area">
			<%= f.submit "検索", class: "button" %>
		</div>
	<% end %>
</div>