<div class="wrap-left">
<h2>施設を編集する</h2>
  <%= form_with(url:company_path, model: @company, method: :put, local: true) do |f| %>
    <div>
      <%= f.hidden_field :user_id, :value => current_user.id, class: 'form-control' %>
    </div>
    <div class="input-area">
      <p><%= f.label :name ,class: "label" %></p>
      <%= f.text_field :name, class: "field-2" %>
    </div>
    <div class="input-area">
      <p><%= f.label :address ,class: "label" %></p>
      <%= f.text_field :address, class: "field-2" %>
    </div>
    <div class="input-area">
      <p><%= f.label :access ,class: "label" %></p>
      <%= f.text_field :access, class: "field-2" %>
    </div>
    <div class="input-area">
      <p><%= f.label :info ,class: "label" %></p>
      <%= f.text_area :info, class: "text-area" %>
      
    </div>
    <div class="input-area">
      <p class="label">施設写真</p>
      <% if @company.portraits.attached? %>
        <% @company.portraits.each do |portrait| %>
            <%= f.check_box :image_ids, {multiple: true}, portrait.id, false %>
            <%= image_tag portrait.variant(resize_to_limit: [100, 100]) %>
        <% end %>
      <% end %>
    </div>
    <div class="input-area">
      <p><%= f.label "施設写真を更新する", class: "label" %></p>
      <%= f.file_field :portraits, direct_upload: true, multiple: true %>
    </div>
    <div class="button-area">
      <%= f.submit "更新" ,class: "button" %>
    </div>
  <% end %>
</div>