<div>
  <h2>宿泊施設を編集する</h2>
  <%= form_with(url:company_path, model: @company, method: :put, local: true) do |f| %>
    <div>
      <%= f.hidden_field :user_id, :value => current_user.id, class: 'form-control' %>
    </div>
    <div class="input-area">
      <p><%= f.label :name ,class: "label" %></p>
      <%= f.text_field :name, class: "field-2" %>
    </div>
    <div class="input-area">
      <p><%= f.label :address ,class: "label" %></p>
      <%= f.text_field :address, class: "field-2" %>
    </div>
    <div class="input-area">
      <p><%= f.label :access ,class: "label" %></p>
      <%= f.text_field :access, class: "field-2" %>
    </div>
    <div class="input-area">
      <p><%= f.label :info ,class: "label" %></p>
      <%= f.text_area :info, class: "text-area" %>
      
    </div>
    <div class="input-area">
      <% if @company.portrait.attached? %>
        <p class="label">施設写真</p>
        <%= image_tag @company.portrait.variant(resize_to_limit: [200, 200]) %>
        <p>
          <%= f.check_box :image_id, {multiple: false}, @company.portrait.id, false %>
          <span class="delete-alert">施設の写真を削除する</span>
        </p>
      <% else %>
        <p class="label">施設の写真は登録されていません</p>
      <% end %>
    </div>
    <div class="input-area">
      <p><%= f.label "施設写真を更新する", class: "label" %></p>
      <p class="label">現在登録されている写真は削除されます</p>
      <%= f.file_field :portrait, direct_upload: true, multiple: false %>
    </div>
    <div class="button-area">
      <%= f.submit "更新" ,class: "button" %>
    </div>
  <% end %>
</div>