<div>
	<h2>宿泊施設を登録する</h2>
	<%= form_with(model: @company, local: true) do |f| %>
		<div>
			<%= f.hidden_field :user_id, :value => current_user.id, class: 'form-control' %>
		</div>
		<div class="input-area">
			<p><%= f.label :name , class: "label" %></p>
			<%= f.text_field :name, class: "field-2" %>
		</div>
		<div class="input-area">
			<p><%= f.label :prefecture, class: "label" %></p>
			<%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: "field-1" %>
		</div>
		<div class="input-area">
			<p><%= f.label :address, class: "label" %></p>
			<%= f.text_field :address, class: "field-2" %>
		</div>
		<div class="input-area">
			<p><%= f.label :access, class: "label" %></p>
			<%= f.text_field :access, class: "field-2" %>
		</div>
		<div class="input-area">
			<p><%= f.label :info, class: "label" %></p>
			<%= f.text_area :info, class: "text-area" %>
		</div>
		<div class="input-area">
			<p><p class="label">施設写真</p>
			<%= f.file_field :portrait, direct_upload: true, multiple: false %>
		</div>	
		<div class="button-area">
			<%= f.submit "登録", class: "button" %>
		</div>
  <% end %>
</div>