<div class="wrap-left">
	<h2>施設を登録する</h2>
	<%= form_with(model: @company, local: true) do |f| %>
		<% if @company.errors.any? %>
			<ul>
				<% @company.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>
		<div>
			<%= f.hidden_field :company_id, :value => current_user.id, class: 'form-control' %>
		</div>
		<div class="edit-company">
			<p><%= f.label :name , class: "edit-company-label-name"%></p>
			<%= f.text_field :name, class: 'form-control edit-company-form-name' %>
		</div>
		<div class="edit-company">
			<p><%= f.label :prefecture, class: "edit-company-label-prefecture" %></p>
			<%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class:"edit-company-form-prefecture" %>
		</div>
		<div class="edit-company">
			<p><%= f.label :address, class: "edit-company-label-address" %></p>
			<%= f.text_field :address, class: 'form-control edit-company-form-address' %>
		</div>
		<div class="edit-company">
			<p><%= f.label :access, class: "edit-company-label-access" %></p>
			<%= f.text_field :access, class: 'form-control edit-company-form-access' %>
		</div>
		<div class="edit-company">
			<p><%= f.label :info, class: "edit-company-label-info" %></p>
			<%= f.text_area :info, class: 'form-control edit-company-form-info' %>
		</div>
		<div class="edit-company">
			<p><p class="edit-company-label-portraits">施設写真</p>
			<%= f.file_field :portraits, direct_upload: true, multiple: true %>
		</div>	
		<div class="edit-company">
			<%= f.submit "登録", class: "edit-button" %>
		</div>
  <% end %>
</div>