<h1>Companies#new</h1>
<p>Find me in app/views/companies/new.html.erb</p>

<div>
	<%= form_with(model: @company, local: true) do |f| %>
		<% if @company.errors.any? %>
			<ul>
				<% @company.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>
		<div>
			<%= f.hidden_field :company_id, :value => current_user.id, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :prefecture %>
			<%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
		</div>
		<div>
			<%= f.label :address %>
			<%= f.text_field :address, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :access %>
			<%= f.text_field :access, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :info %>
			<%= f.text_area :info, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :portrait %>
			<%= f.file_field :portraits, direct_upload: true, multiple: true %>
		</div>	
		<div>
			<%= f.submit "登録" %>
		</div>
  <% end %>
</div>