<div>
	<h2>宿泊プランを更新する</h2>
  <%= form_with(url:plan_path, model: @plan, method: :put, local: true) do |f| %>
    <div>
      <%= f.hidden_field :company_id, :value => @plan.company_id, class: 'form-control' %>
    </div>
    <div class="input-area">
      <p><%= f.label :name , class: "label" %></p>
      <%= f.text_field :name, class: "field-2" %>
    </div>
    <div class="input-area">
			<p><%= f.label :check_in , class: "label" %></p>
      <%= f.time_field :check_in, class: "field-1" %>
    </div>
		<div class="input-area">
      <p><%= f.label :check_out , class: "label" %></p>
      <%= f.time_field :check_out, class: "field-1" %>
    </div>
    <div class="input-area">
			<p><%= f.label :stock , class: "label" %></p>
      <%= f.number_field :stock, class: "field-1" %>
    </div>
    <div class="input-area">
			<p><%= f.label :price , class: "label" %></p>
      <%= f.number_field :price, class: "field-1" %>
    </div>
    <div class="input-area">
			<p><%= f.label :sale_from , class: "label" %></p>
      <%= f.date_field :sale_from, class: "field-1" %>
    </div>
    <div class="input-area">
			<p><%= f.label :sale_to , class: "label" %></p>
      <%= f.date_field :sale_to, class: "field-1" %>
    </div>
    <div class="input-area">
			<p><%= f.label :room_type , class: "label" %></p>
      <%= f.select :room_type, options_for_select(@room_type.map{|r| [r.name, r.id]}, @plan.room_type), {}, class: "field-1" %>
    </div>
    <div class="input-area">
			<p class="label">働くのキーワード</p>
      <% @work_features.each do |wf| %>
        <%= f.check_box :work_features, {multiple: true, checked: @plan_work_features.map{|w| w.feature_id}.include?(wf.id)}, wf.id, nil %>
        <%= wf.name %>
      <% end %>
    </div>
    <div class="input-area">
			<p class="label">遊びのキーワード</p>
      <% @vacation_features.each do |vf| %>
        <%= f.check_box :vacation_features, {multiple: true, checked: @plan_vacation_features.map{|v| v.feature_id}.include?(vf.id)}, vf.id, nil %>
        <%= vf.name %>
      <% end %>
    </div>
    <div class="input-area">
      <% if @plan.portraits.attached? %>
        <p class="label">登録済のプラン写真</p>
        <p class="delete-alert">チェックを入れて更新すると削除されます</p>
        <% @plan.portraits.each do |portrait| %>
            <%= image_tag portrait.variant(resize_to_limit: [100, 100]) %>
            <%= f.check_box :image_ids, {multiple: true}, portrait.id, false %>
        <% end %>
      <% else %>
        <p class="label">プランの写真は登録されていません</p>
      <% end %>
    </div>
    <div class="input-area">
			<p class="label">プランの写真を更新する</p>
      <%= f.file_field :portraits, direct_upload: true, multiple: true %>
    </div>
    <div class="button-area">
      <%= f.submit "更新",class: "button" %>
    </div>
  <% end %>
</div>