<h1>Plans#edit</h1>
<p>Find me in app/views/plans/edit.html.erb</p>

<div>
	<%= form_with(url:plan_path, model: @plan, method: :put, local: true) do |f| %>
		<% if @plan.errors.any? %>
			<ul>
				<% @plan.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>
		<div>
			<%= f.hidden_field :company_id, :value => @plan.company_id, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :check_in %>
			<%= f.time_field :check_in, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :check_out %>
			<%= f.time_field :check_out, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :stock %>
			<%= f.number_field :stock, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :price %>
			<%= f.number_field :price, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :sale_from %>
			<%= f.date_field :sale_from, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :sale_to %>
			<%= f.date_field :sale_to, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :room_type %>
			<%= f.select :room_type, options_for_select(@room_type.map{|r| [r.name, r.id]}, @plan.room_type) %>
		</div>
		<div>
			<%= f.label :work_features %>
			<% @work_features.each do |wf| %>
				<%= f.check_box :work_features, {multiple: true, checked: @plan_work_features.include?(wf.id)}, wf.id, nil  %>
				<%= wf.name %>
			<% end %>
		</div>
		<div>
			<%= f.label :vacation_features %>
			<% @vacation_features.each do |vf| %>
				<%= f.check_box :vacation_features, {multiple: true, checked: @plan_vacation_features.include?(vf.id)}, vf.id, nil  %>
				<%= vf.name %>
			<% end %>
		</div>
		<div>
			<p>portraits</p>
			<% if @plan.portraits.attached? %>
				<% @plan.portraits.each do |portrait| %>
						<%= f.check_box :image_ids, {multiple: true}, portrait.id, false %>
						<%= image_tag portrait.variant(resize_to_limit: [100, 100]) %>
				<% end %>
			<% end %>
		</div>
		<div>
			<%= f.label :portrait %>
			<%= f.file_field :portraits, direct_upload: true, multiple: true %>
		</div>
		<div>
			<%= f.submit "更新" %>
		</div>
  <% end %>
</div>