<div class="wrap-left">
	<h2>宿泊プランを登録する</h2>
	<%= form_with(url: plans_path, model: @plan, local: true) do |f| %>
		<div>
			<%= f.hidden_field :company_id, :value => @company.id, class: 'form-control' %>
		</div>
		<div class="input-area">
			<p><%= f.label :name, class: "label" %></p>
			<%= f.text_field :name, class: "field-2" %>
		</div>
		<div class="input-area">
			<p><%= f.label :check_in, class: "label" %></p>
			<%= f.time_field :check_in, class: "field-1" %>
		</div>
		<div class="input-area">
			<p><%= f.label :check_out, class: "label" %></p>
			<%= f.time_field :check_out, class: "field-1" %>
		</div>
		<div class="input-area">
			<p><%= f.label :stock, class: "label" %></p>
			<%= f.number_field :stock, class: "field-1" %>
		</div>
		<div class="input-area">
			<p><%= f.label :price, class: "label" %></p>
			<%= f.number_field :price, class: "field-1" %>
		</div>
		<div class="input-area">
			<p><%= f.label :sale_from, class: "label" %></p>
			<%= f.date_field :sale_from, class: "field-1" %>
		</div>
		<div class="input-area">
			<p><%= f.label :sale_to, class: "label" %></p>
			<%= f.date_field :sale_to, class: "field-1" %>
		</div>
		<div class="input-area">
			<p><%= f.label :room_type, class: "label" %></p>
			<%= f.select :room_type, @room_type.map{|r| [r.name, r.id]}, {}, class: "field-1" %>
		</div>
		<div class="input-area">
			<p class="label">仕事のキーワード</p>
			<% @work_features.each do |wf| %>
				<%= f.check_box :work_features, {multiple: true}, wf.id, nil%>
				<%= wf.name %>
			<% end %>
		</div>
		<div class="input-area">
			<p class="label">遊びのキーワード</p>
			<% @vacation_features.each do |vf| %>
				<%= f.check_box :vacation_features, {multiple: true}, vf.id, nil  %>
				<%= vf.name %>
			<% end %>
		</div>
		<div class="input-area">
			<p class="label">プラン写真</p>
			<%= f.file_field :portraits, direct_upload: true, multiple: true %>
		</div>
		<div class="button-area">
			<%= f.submit "登録" ,class: "button" %>
		</div>
	<% end %>
</div>