<h1>Plans#new</h1>
<p>Find me in app/views/plans/new.html.erb</p>

<div>
		<%= form_with(url: plans_path, local: true) do |f| %>
			
			<div>
				<%= f.hidden_field :company_id, :value => @company.id, class: 'form-control' %>
			</div>
			
			<div>
				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>
			</div>
			
			<div>
				<%= f.label :check_in %>
				<%= f.time_field :check_in, class: 'form-control' %>
			</div>
			
			<div>
				<%= f.label :check_out %>
				<%= f.time_field :check_out, class: 'form-control' %>
			</div>
			
			<div>
				<%= f.label :stock %>
				<%= f.number_field :stock, class: 'form-control' %>
			</div>
			
			<div>
				<%= f.label :price %>
				<%= f.number_field :price, class: 'form-control' %>
			</div>
		
			<div>
				<%= f.label :sale_from %>
				<%= f.date_field :sale_from, class: 'form-control' %>
			</div>
			
			<div>
				<%= f.label :sale_to %>
				<%= f.date_field :sale_to, class: 'form-control' %>
			</div>
			
			<div>
				<%= f.label :room_type %>
				<%= f.select :room_type, {'洋室':1, '和室':2}, { include_blank: '部屋タイプ'}, {class: 'form-control'} %>
			</div>
			
			<div>
				<%= f.label :work_features %>
				<% @work_features.each do |wf| %>
					<%= f.check_box :work_features, {multiple: true}, wf.id, nil  %>
					<%= wf.name %>
				<% end %>
			</div>

			<div>
				<%= f.label :vacation_features %>
				<% @vacation_features.each do |vf| %>
					<%= f.check_box :vacation_features, {multiple: true}, vf.id, nil  %>
					<%= vf.name %>
				<% end %>
			</div>

			<div>
				<%= f.submit "登録" %>
			</div>
		<% end %>
</div>