<div class="wrap-left">
	<h2>宿泊プラン</h2>
	<div class="show-plan">
		<p class="edit-plan-label-name">プラン名</p>
		<%= @plan.name %>
	</div>
	<div class="show-plan">
		<p class="edit-plan-label-checkin">チェックイン</p>
		<%= @plan.check_in.strftime("%R") %>
	</div>
	<div class="show-plan">
		<p class="edit-plan-label-checkout">チェックアウト</p>
		<%= @plan.check_out.strftime("%R") %>
	</div>
	<div class="show-plan">
		<p class="edit-plan-label-stock">在庫</p>
		<%= @plan.stock %>
	</div>
	<div class="show-plan">
		<p class="edit-plan-label-price">値段</p>
		<%= @plan.price %>
	</div>
	<div class="show-plan">
		<p class="edit-plan-label-salefrom">販売開始</p>
		<%= @plan.sale_from %>
	</div>
	<div class="show-plan">
		<p class="edit-plan-label-saleto">販売終了</p>
		<%= @plan.sale_to %>
	</div>
	<div class="show-plan">
		<p class="edit-plan-label-roomtype">部屋タイプ</p>
		<%= @plan.room_type %>
	</div>
	<div class="show-plan">
		<p class="edit-plan-label-portraits">プラン写真</p>
		<% if @plan.portraits.attached? %>
			<% @plan.portraits.each do |portrait| %>
				<%= image_tag portrait.variant(resize_to_limit: [100, 100]) %>
		<% end %>
	<% end %>
</div>
	<div>
		<%= link_to "予約する", confirm_reserve_path(@plan.id), class: "edit-button" %>
	</div>
</div>