<div>
	<div class="input-area">
		<h2><%= @plan.name %></h2>
	</div>
	<div class="plan-show">
		<div class="plan-show-left">
			<% if @plan.portraits.attached? %>
				<div class="arrow">
					<button class="slider-prev">
						<%= image_tag "arrow_left.svg", :width => "28", :height => "28"  %>
					</button>
				</div>
				<div class="slider">
					<div class="input-area slideSet">
						<% @plan.portraits.each do |portrait| %>
							<%= image_tag portrait.variant(resize_to_limit: [300, 300]), class: "slide" %>
						<% end %>
					</div>
				</div>
				<div class="arrow">
					<button class="slider-next">
						<%= image_tag "arrow_right.svg", :width => "28", :height => "28"  %>
					</button>
				</div>
			<% end %>
		</div>
		<div class="plan-show-right">
			<div class="input-area">
				<p class="label">チェックイン</p>
				<%= @plan.check_in.strftime("%R") %>
			</div>
			<div class="input-area">
				<p class="label">チェックアウト</p>
				<%= @plan.check_out.strftime("%R") %>
			</div>
			<div class="input-area">
				<p class="label">部屋タイプ</p>
				<%= @room_type.find(@plan.room_type).name %>
			</div>
			<div class="input-area">
				<p class="label">値段</p>
				<%= @plan.price %>
			</div>
			<% if !@plan_work_features.nil? %>
				<div class="features">
					<% @plan_work_features.each do |wf| %>
						<span class="wf"><%= wf.feature.name %></span>
					<% end %>
				</div>
			<% end %>
			<% if !@plan_vacation_features.nil? %>
				<div class="features">
					<% @plan_vacation_features.each do |vf| %>
						<span class="vf"><%= vf.feature.name %></span>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="button-area">
		<%= link_to "予約する", confirm_reserve_path(@plan.id), class: "button" %>
	</div>
</div>