<h1>Plans#show</h1>
<p>Find me in app/views/plans/show.html.erb</p>

<div>
	<div>
		<p>name</p>
		<%= @plan.name %>
	</div>
	<div>
		<p>check_in</p>
		<%= @plan.check_in.strftime("%R") %>
	</div>
	<div>
		<p>check_out</p>
		<%= @plan.check_out.strftime("%R") %>
	</div>
	<div>
		<p>stock</p>
		<%= @plan.stock %>
	</div>
	<div>
		<p>price</p>
		<%= @plan.price %>
	</div>
	<div>
		<p>sale_from</p>
		<%= @plan.sale_from %>
	</div>
	<div>
		<p>sale_to</p>
		<%= @plan.sale_to %>
	</div>
	<div>
		<p>room_type</p>
		<%= @plan.room_type %>
	</div>
	<div>
		<p>portraits</p>
		<% if @plan.portraits.attached? %>
			<% @plan.portraits.each do |portrait| %>
				<%= image_tag portrait.variant(resize_to_limit: [100, 100]) %>
		<% end %>
	<% end %>
</div>
	<div>
		<%= link_to "予約する", "reserve/confirm/#{@plan.id}" %>
	</div>
</div>