<div>
	<div class="reserve-confirm">
		<h4>以下の内容で予約します。</h4>
		<h4>よろしいですか？</h4>
	</div>
	<div class="reserve-confirm">
		<p class="reserve-confirm-name">プラン名</p>
		<%= @plan.name %>
	</div>
	<div class="reserve-confirm">
		<p class="reserve-confirm-day">日程</p>
		<%= "#{session[:checkin]} - #{session[:checkout]}" %>
	</div>
	<div class="reserve-confirm">
		<p class="reserve-confirm-checkin">チェックイン時刻</p>
		<%= @plan.check_in.strftime("%R") %>
	</div>
	<div class="reserve-confirm">
		<p class="reserve-confirm-checkout">チェックアウト時刻</p>
		<%= @plan.check_out.strftime("%R") %>
	</div>
	<div class="reserve-confirm">
		<p class="reserve-confirm-price">値段</p>
		<%= @plan.price %>
	</div>
	<div class="reserve-confirm">
		<p class="reserve-confirm-roomtype">部屋タイプ</p>
		<%= @plan.room_type %>
	</div>
	<div class="reserve-confirm">
		<p>コインが1枚減ります。</p>
		<%= "残り#{@user.coin-1}枚" %>
	</div>
	<div class="reserve-confirm">
		<%= form_tag(reserve_index_path, method: :post) do %>
			<%= hidden_field_tag :id, @plan.id %>
			<%= submit_tag("予約完了する", class: "edit-button") %>
		<% end %>
	</div>
</div>