<div class="show-contents">
	<div class="input-area">
		<h4>以下の内容で予約します。</h4>
		<h4>よろしいですか？</h4>
	</div>
	<div class="input-area">
		<h2><%= @plan.name %></h2>
	</div>
	<div class="input-area">
		<p class="label">日程</p>
		<%= "#{Date.parse(session[:checkin]).strftime("%Y/%m/%d")} - #{Date.parse(session[:checkout]).strftime("%Y/%m/%d")}" %>
	</div>
	<div class="input-area">
		<p class="label">チェックイン時刻</p>
		<%= @plan.check_in.strftime("%R") %>
	</div>
	<div class="input-area">
		<p class="label">チェックアウト時刻</p>
		<%= @plan.check_out.strftime("%R") %>
	</div>
	<div class="input-area">
		<p class="label">値段</p>
		<%= @plan.price %>
	</div>
	<div class="input-area">
		<p class="label">部屋タイプ</p>
		<%= @room_type.find(@plan.room_type).name %>
	</div>
	<div class="input-area">
		<h4><%= "コインが残り#{@user.coin-1}枚となります。" %></h4>
		<h4><%= link_to "コインって？", '/coin' ,class: "coin-link" %></h4>
	</div>
	<div class="button-area">
		<%= form_tag(reserve_index_path, method: :post) do %>
			<%= hidden_field_tag :id, @plan.id %>
			<%= submit_tag("予約完了する", class: "button") %>
		<% end %>
	</div>
</div>