<div>
	<h2>予約一覧</h2>
	<% if @reserves.present? %>
		<% @reserves.each { |reserve| %>
			<div class="reserve-area">
				<div class="reserve-confirm">
					<p class="reserve-confirm-companyid">施設名</p>
					<%= reserve.company.name %>
				</div>
				<div class="reserve-confirm">
					<p class="reserve-confirm-planid">ブラン名</p>
					<%= reserve.plan.name %>
				</div>
				<% reserve.reserve_details.each { |detail| %>
					<div class="reserve-confirm">
						<p class="reserve-confirm-day">日程</p>
						<%= "#{detail.check_in} - #{detail.check_out}" %>
					</div>
					<div class="reserve-confirm">
						<p class="reserve-confirm-people">人数</p>
						<%= detail.people %>
					</div>
				<% } %>
				<div class="reserve-confirm">
					<%= button_to "削除", reserve_path(reserve.id), method: :delete, data: { confirm: '予約を削除してよろしいですか？'}, class: "delete-field"%>
				</div>
			</div>
		<% } %>
	<% else %>
		<h3>予約はありません</h3>
	<% end %>
	<div>
		<%= link_to "トップページ", root_path, class: "edit-button" %>
	</div>
</div>